html{
    background-color: #6BBCBE;
}

body{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}
.circle {
    background-color: white;
    height: 5px;
    width: 5px;
    border: 1px solid white;
    border-radius: 50%;
}
.musicbar {
    background-color: white;
    height: 25px;
    width: 6.5px;
}
div[id="one"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    height: 60px;
    width: 60px;

    animation: superHotImg 1s ease infinite;
}

div[id="two"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    height: 70px;
    width: 50px;
}
div.musicbar {
    animation: musicOn 1s ease infinite;
}

div.musicbar:nth-child(2){
    animation-delay: 0.1s;
}
div.musicbar:nth-child(3){
    animation-delay: 0.2s;
   }
div.musicbar:nth-child(4){
    animation-delay: 0.3s;
}
div.musicbar:nth-child(5){
    animation-delay: 0.4s;
}
@keyframes superHotImg{
    0% {
        transform: rotateZ(-180deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes musicOn{
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(2);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1);
    }
}